body{
  background: url("../images/4.png")no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a,a:hover,a:focus{
    color: #fff;
    text-decoration: none;
}

/*背景特效 begin*/
    .bgFilter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(50% 150%, rgba(120,123,125,0.1) 15%, rgba(75,80,82,0.4) 100%);
        /*background:cover;*/
    }
    .bgFrostedGlass{
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        -webkit-filter: blur(3px); /* Chrome, Opera */
        -moz-filter: blur(3px);
        -ms-filter: blur(3px);    
        filter: blur(3px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
    }
/*背景特效 end*/




/*admin Page begin*/
.solid{
    text-align: center;
    height: 30px;
}
.red{
    color: red;
}
/*admin Page end*/














/*login bengin*/
.loginBox{
    margin:40% auto 0;
    text-align: center;
}
.loginBox h1,.loginBox h2,.loginBox h3,.loginBox h4,.loginBox h5,.loginBox h6,.loginBox label{
    color: rgba(255,255,255,0.9);
    font-family: Dotum;
}
.loginBox h1{
    font-size: 64px;
}
.loginBox label{
    height: 32px;
    font-weight: 100;
}
.loginBox .input{
    text-align: center;
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
    height: 40px;
    color: rgba(255,255,255,0.9);
}
.loginBox button{
    width: 100%;
    border: 0px;
    background-color: #41AB52;
    color: #fff;
    height: 40px;
}
.relative{
    position: relative;
}
.loginBox .form-group i{
    position: absolute;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 20px;
    top: 7.5px;
    right: 15px;
    font-size: 25px;
    color: red;
}
.btnChange{
    transition: all 1.2s;
}
.btnChange:hover{
    background: #399154;
}
/*login end*/


/*ect*/
.block25{
    height: 25px;
    width: 100%;
}
.block10{
    height: 10px;
    width: 100%;
}
.borCircle{
    border-radius: 50px;
}




